# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/
atlassian-ide-plugin.xml

# Plugin-specific
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources*
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/mongoSettings.xml
.idea/replstate.xml
.idea/sonarlint/
.idea/**/sonarIssues.xml
.idea/**/markdown-navigator*
.idea/codestream.xml
.idea/**/azureSettings.xml
.idea/httpRequests
.idea/caches/build_file_checksums.ser
.idea/$CACHE_FILE$

# CMake
cmake-build-*/

# Build output
/build/
**/build/
!src/**/build/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Java
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
*.hprof

# Gradle
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Eclipse (Gradle plugin)
.project
.classpath

# Spring Tool Suite
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Misc
HELP.md

# codex
AGENTS.md
prd/
todolist.md

# Local artifacts
.DS_Store
.env
*.p8
